.main_container
{
	/*border: 1px solid black;*/
	width: 400%;
	position : relative;
	margin: 0 auto;
	box-shadow: 1px 1px 12px #555;
	padding-top : 10px;
	
}

@media (max-width : 1000px)
{
	.main_container
	{
		
		width : 10000%;
		

	
	}
}

.main_container h1
{
	text-align: center;
	font-family : "AllerLight";
	
}

.timer
{
	text-align:center;
	font-family : "AllerLight";
}

.main_menu
{
	background-color: #E42618;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 0px 10px #941608;
}

.main_menu li
{
	font-family: "Prata",serif;
	display: inline-block;
	margin-right: 30px;
	font-size: 20px;
	font-weight: bold;
	opacity : 0.8;
	padding : 5px;
	border : solid 1px #E42618;
	color : white;
}

.main_menu li:hover
{
	color : white;
	opacity : 1;
	border : solid 1px white;
	border-radius: 10px;
	padding : 5px;
}

.bouton_menu
{
	text-decoration : none;
	color : white;
}

.quote
{
	font-family: "Prata", sans-serif;
	margin-right: 30px;
	margin : 20px;
	color: grey;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
@font-face {
	font-family: "Prata";
	font-style: normal;
	font-weight: 400;
	src: url("./Prata.woff2") format("woff2");
}

@font-face{
	font-family: "AllerLight";
	font-style:normal;
	font-weight:400;
	src: url("./Aller_Lt.ttf");
}

.overall_container
{
	width: 100%;
	display:flex;
	position : relative;
	min-height : 2000px;	

}

.left_gradient
{
	float: left;
	width: 100%;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,dddddd+100 */
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(left, #f2f2f2 0%, #dddddd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f2f2f2 0%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f2f2f2 0%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 */
}

.right_gradient
{
	float: right;
	width: 100%;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,f2f2f2+100 */
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(left, #dddddd 0%, #f2f2f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #dddddd 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #dddddd 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
}

body 
{

margin :0px;

}

.logo
{
height : auto;
position:relative;
max-width:100%;
max-height :180px;

}

.parallax {
    /* The image used */
    background-image: url("UCaen-Etudiants-amphi.jpg");

    /* Set a specific height */
    height: 350px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.INSA {
	background-color : black;
	height : 400px;
	padding-left : 10px;
	
}

.INSA h2 {
	color : white;
	font-size : 30px;
}

.programme {
	background-color : grey;
	height : 400px;
}

.acces {
	background-color : black;
	height : 500px;
}

.contact {
	background-color : black;
	height : 500px;
}


